.root{
	-fx-background-color: #6db3e8;		
}

#mySeparator{
	-fx-background-color: #dceefc;
	
}

.label{
	-fx-font-family: "Comic Sans MS";
}

#labelOne{
	-fx-font-weight: bold;
	-fx-font-family: "Comic Sans MS";
	-fx-font-size: 14;
}

#labelTwo{
	-fx-font-weight: bold;
	-fx-font-family: "Comic Sans MS";
	-fx-font-size: 14;
}